@charset "ISO-8859-1";
.jumbotron_cabecera {
  /* background-image: url("../img/portada.png"); */
  background-size: cover;
  background-color: #00cc00;
  color: #ffffff;
}
form {
	background-color: #e6ffe6;
}
body {
	background-color: #e6ffe6;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
br {
   display: block;
   margin: 10px 0;
}