<!DOCTYPE html>
<html>
<head>
  <title>Cargar Modelo desde fichero</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="../static/js/bootstrap.min.js"></script>
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-4">Cargar Modelo desde fichero</h1>
    {% if error %}
      <div class="alert alert-danger mt-4">{{ error }}</div>
    {% endif %}
    <!-- FORMULARIO PARA LA CARGA DE UN MODELO DESDE UN FICHERO -->
    <form id="upload-form" action="/extraer_config_modelo" method="post" enctype="multipart/form-data" class="mt-4">
      <div class="mb-3">
        <label for="file" class="form-label">Seleccionar archivo Keras:</label>
        <input class="form-control" type="file" name="file" id="file">
      </div>
      <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
    <!--   -->
    <!-- IMAGEN DE CARGA -->
    <div id="loading" class="hidden mt-4">
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Leyendo datos...</span>
      </div>
    </div>
     <!--   -->

    <div id="model-info" class="hidden mt-4">
      <h2>Información del Modelo</h2>
      <!-- FORMULARIO CON LA INFO DEL MODELO -->
        <!-- FORMULARIO CON LA INFO DEL MODELO -->
        <form method="POST">
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="nombre" class="form-label">Nombre:</label>
              <input class="form-control" type="text" id="nombre" name="nombre" value="{% if data and data.nombre %}{{ data.nombre }}{% endif %}">
            </div>
            <div class="col-md-5 mb-3">
              <label for="input_shape" class="form-label">Input Shape:</label>
              <input class="form-control" type="text" id="input_shape" name="input_shape" value="{% if data and data.input_shape %}{{ data.input_shape }}{% endif %}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 mb-3">
              <label for="descripcion" class="form-label">Descripción:</label>
              <input class="form-control" type="text" id="descripcion" name="descripcion" value="{% if data and data.descripcion %}{{ data.descripcion }}{% endif %}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="depth" class="form-label">Depth:</label>
              <input class="form-control" type="text" id="depth" name="depth" value="{% if data and data.depth %}{{ data.depth }}{% endif %}">
            </div>
            <div class="col-md-6 mb-3">
              <label for="optimizer_type" class="form-label">Optimizer Type:</label>
              <input class="form-control" type="text" id="optimizer_type" name="optimizer_type" value="{% if data and data.optimizer_type %}{{ data.optimizer_type }}{% endif %}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="learning_rate" class="form-label">Learning Rate:</label>
              <input class="form-control" type="text" id="learning_rate" name="learning_rate" value="{% if data and data.learning_rate %}{{ data.learning_rate }}{% endif %}">
            </div>
            <div class="col-md-3 mb-3">
              <label for="beta1" class="form-label">Beta 1:</label>
              <input class="form-control" type="text" id="beta1" name="beta1" value="{% if data and data.beta1 %}{{ data.beta1 }}{% endif %}">
            </div>
            <div class="col-md-3 mb-3">
              <label for="beta2" class="form-label">Beta 2:</label>
              <input class="form-control" type="text" id="beta2" name="beta2" value="{% if data and data.beta2 %}{{ data.beta2 }}{% endif %}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="epsilon" class="form-label">Epsilon:</label>
              <input class="form-control" type="text" id="epsilon" name="epsilon" value="{% if data and data.epsilon %}{{ data.epsilon }}{% endif %}">
            </div>
            <div class="col-md-3 mb-3">
              <label for="amsgrad" class="form-label">Amsgrad:</label>
              <input class="form-control" type="text" id="amsgrad" name="amsgrad" value="{% if data and data.amsgrad %}{{ data.amsgrad }}{% endif %}">
            </div>
            <div class="col-md-4 mb-3">
              <label for="decay" class="form-label">Decay:</label>
              <input class="form-control" type="text" id="decay" name="decay" value="{% if data and data.decay %}{{ data.decay }}{% endif %}">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Grabar en el sistema</button>
        </form>
      <!-- -->
      </div>
  </div>

  <!-- JavaScript -->
    <script>
          document.getElementById("upload-form").addEventListener("submit", async function(event) {
          event.preventDefault();
          document.getElementById("loading").classList.remove("hidden");
          var fileInput = document.getElementById('file');
          var file = fileInput.files[0];

          var formData = new FormData();
          formData.append('file', file);

          try {
              const response = await fetch("/extraer_config_modelo", {
              method: "POST",
              body: formData
            });
            if (response.ok) {
              var data = await response.json();
              // MOSTRAR FORMULARIO DE DATOS DEL MODELO
              document.getElementById("model-info").classList.remove("hidden");

              console.log(data); // Verificar el contenido de la respuesta JSON en la consola
              console.log(data.nombre);
              document.getElementById("nombre").value = data.nombre;
              document.getElementById("depth").value = data.depth;
              document.getElementById("input_shape").value = data.input_shape;
              document.getElementById("optimizer_type").value = data.optimizer_type;
              document.getElementById("learning_rate").value = data.learning_rate;
              document.getElementById("b1").value = data.b1;
              document.getElementById("b2").value = data.b2;
              document.getElementById("epsilon").value = data.epsilon;
              document.getElementById("amsgrad").value = data.amsgrad;
                  // OCULTAR FORMULARIO DE MANEJO DE FICHERO E IMAGEN DE CARGA
                  document.getElementById("upload-form").classList.add("hidden");
                  document.getElementById("loading").classList.add("hidden");
            } else {
              console.error("Error de respuesta:", response.status);
            }
          } catch (error) {
            console.error("Error:", error);
          }
        });
  </script>
</body>
</html>
