{% extends 'doc_base.html' %}

{% block title %}
Cargar Modelo desde fichero
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Cargar Modelo desde fichero</h1>
    {% if error %}
      <div class="alert alert-danger mt-4">{{ error }}</div>
    {% endif %}

    <!-- FORMULARIO PARA LA CARGA DE UN MODELO DESDE UN FICHERO -->
    <form id="upload-form" action="/salvar_fichero" method="post" enctype="multipart/form-data" class="mt-4">
      <div class="mb-3">
        <label for="file" class="form-label">Seleccionar archivo Keras:</label>
        <input class="form-control" type="file" name="file" id="file">
      </div>
      <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
    <!--   -->
      <div id="progress-container" class="progress mt-4" style="display: none;">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
{% endblock %}
