{% extends 'doc_base.html' %}

{% block title %}
Cargar Modelo desde fichero
{% endblock %}

{% block content %}
  <div class="container">
    <div class="card p-4 shadow">
    <h1 class="mt-4">Cargar Modelo desde fichero</h1>
    {% if error %}
      <div class="alert alert-danger mt-4">{{ error }}</div>
    {% endif %}

    <!-- FORMULARIO PARA LA CARGA DE UN MODELO DESDE UN FICHERO -->
    <form id="upload-form" action="/salvar_fichero" method="post" enctype="multipart/form-data" class="mt-4">
      <div class="mb-3">
        <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="file" name="file">
              <label class="custom-file-label" for="file">Seleccionar archivo Keras</label>
            </div>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary btn-lg btn-block">Cargar</button>
    </form>
    <!--   -->
      <div id="progress-container" class="progress mt-4" style="display: none;">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="60" aria-valuemax="100">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
