{% extends "doc_base.html" %}

{% block title %}Editar datos del modelo {{modelo.nombre}} {% endblock %}

{% block content %}
<div class="container">
  <div class="card p-4 shadow">

    <h3>Edición de información del Modelo {{modelo.nombre}}</h3>
      <!-- FORMULARIO CON LA INFO DEL MODELO -->
        <form method="POST" action="/editar_modelo_bbdd">
          <div class="row">
            <div class="col-md-1 mb-3">
              <label for="id_modelo" class="form-label">ID:</label>
              <input class="form-control" type="text" id="id_modelo" name="id_modelo" value="{% if modelo and modelo.id_modelo %}{{ modelo.id_modelo }}{% endif %}" readonly>
            </div>
            <div class="col-md-5 mb-3">
              <label for="nombre" class="form-label">Nombre:</label>
              <input class="form-control" type="text" id="nombre" name="nombre" value="{% if modelo and modelo.nombre %}{{ modelo.nombre }}{% endif %}">
            </div>
            <div class="col-md-2 mb-3">
              <label for="input_shape" class="form-label">Input Shape:</label>
              <input class="form-control" type="text" id="input_shape" name="input_shape" value="{% if modelo and modelo.input_shape %}{{ modelo.input_shape }}{% endif %}">
            </div>
            <!-- desplegable con los datasets almacenados -->
            <div class="col-md-2 mb-3">
              <label for="dataset-select" class="form-label">Dataset:</label>
              <div class="dropdown">
                <select class="form-select" id="dataset-select" name="dataset-select">
                  {% for dataset in datasets %}
                  <option value="{{ dataset.id_dataset }}" {% if dataset.id_dataset == modelo.id_dataset %}selected{% endif %}>{{ dataset.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!--  -->
          </div>
          <div class="row">
             <!-- desplegable con los usos almacenados -->
            <div class="col-md-2 mb-3">
              <label for="uso-select" class="form-label">Uso:</label>
              <div class="dropdown">
                <select class="uso-select" id="uso-select" name="uso-select">
                  {% for uso in usos %}
                  <option value="{{ uso.id_uso }}" {% if uso.id_uso == modelo.id_uso %}selected{% endif %}>{{ uso.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!--  -->
            <div class="col-md-8 mb-3">
              <label for="descripcion" class="form-label">Descripción:</label>
              <input class="form-control" type="text" id="descripcion" name="descripcion" value="{% if modelo and modelo.descripcion %}{{ modelo.descripcion }}{% endif %}">
            </div>
          </div>
          <div class="row">
            <!-- desplegable familias de modelos -->
            <div class="col-md-4 mb-3">
              <label for="familia-select" class="form-label">Familia:</label>
              <div class="dropdown">
                <select class="familia-select" id="familia-select" name="familia-select">
                  {% for familia in familias %}
                  <option value="{{ familia.id_familia }}" {% if familia.id_familia == modelo.id_familia %}selected{% endif %}>{{ familia.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!--  -->
            <div class="col-md-2 mb-3">
              <label for="depth" class="form-label">Depth:</label>
              <input class="form-control" type="text" id="depth" name="depth" value="{% if modelo and modelo.depth %}{{ modelo.depth }}{% endif %}">
            </div>
            <div class="col-md-4 mb-3">
              <label for="optimizer_type" class="form-label">Optimizer Type:</label>
              <input class="form-control" type="text" id="optimizer_type" name="optimizer_type" value="{% if modelo and modelo.optimizer_type %}{{ modelo.optimizer_type }}{% endif %}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="learning_rate" class="form-label">Learning Rate:</label>
              <input class="form-control" type="text" id="learning_rate" name="learning_rate" value="{% if modelo and modelo.learning_rate %}{{ modelo.learning_rate }}{% endif %}">
            </div>
            <div class="col-md-3 mb-3">
              <label for="beta1" class="form-label">Beta 1:</label>
              <input class="form-control" type="text" id="beta1" name="beta1" value="{% if modelo and modelo.beta1 %}{{ modelo.beta1 }}{% endif %}">
            </div>
            <div class="col-md-3 mb-3">
              <label for="beta2" class="form-label">Beta 2:</label>
              <input class="form-control" type="text" id="beta2" name="beta2" value="{% if modelo and modelo.beta2 %}{{ modelo.beta2 }}{% endif %}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="epsilon" class="form-label">Epsilon:</label>
              <input class="form-control" type="text" id="epsilon" name="epsilon" value="{% if modelo and modelo.epsilon %}{{ modelo.epsilon }}{% endif %}">
            </div>
            <div class="col-md-3 mb-3">
              <label for="amsgrad" class="form-label">Amsgrad:</label>
              <input class="form-control" type="text" id="amsgrad" name="amsgrad" value="{% if modelo and modelo.amsgrad %}{{ modelo.amsgrad }}{% endif %}">
            </div>
            <div class="col-md-4 mb-3">
              <label for="decay" class="form-label">Decay:</label>
              <input class="form-control" type="text" id="decay" name="decay" value="{% if modelo and modelo.decay %}{{ modelo.decay }}{% endif %}">
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <button type="submit" class="btn btn-secondary btn-lg btn-block">Grabar cambios.</button>
              </div>
          </div>
        </form>
      <!-- -->
  </div>
</div>
{% endblock %}
