{% extends "doc_base.html" %}

{% block title %}Información del modelo {{modelo.nombre}}
{% endblock %}
   Información del modelo
{% block content %}
         <h4 class="mt-4">Estructura del modelo :</h4>
          {% if resultado %}{{ resultado }}{% endif %}
        </div>
          <div class="container">
            <div class="card mt-4">
              <img src="data:image/png;base64,{{ img_str }}" class="card-img-top img-fluid rounded mx-auto d-block" style="height: 50%; width: auto;">
              <div class="card-body text-center">
                <a href="" class="btn btn-primary" download>Guardar imagen</a>
              </div>
            </div>
          </div>
{% endblock %}
