{% extends 'doc_base.html' %}

{% block title %}
  Una aplicación para la gestión y uso de modelos de deep learning
{% endblock %}

{% block content %}
  <div class="container-sm">
      <div class="card p-4 shadow">
        <div class="d-grid gap-2">
            <a href="{{ url_for('seleccionar_modelo') }}" class="btn btn-secondary btn-lg btn-block">Realizar inferencia</a>
            <a href="{{ url_for('administrar_modelos') }}" class="btn btn-secondary btn-lg btn-block">Administrar Modelos</a>
        </div>
      </div>
</div>
{% endblock %}
