{% extends 'doc_base.html' %}

{% block title %}
  Inferencia con modelo {{modelo.nombre}}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="mt-4 mb-3">Realizar inferencia con modelo {{modelo.nombre}}</h1>
        <p>{{modelo.descripcion}}</p>

        <form method="POST" action="/inferir_con_modelo" enctype="multipart/form-data">
          <div class="form-group">
            <label for="image">Seleccione una imagen:</label>
            <input type="file" id="image" name="image" class="form-control-file">
          </div>
          <button type="submit" class="btn btn-primary">Clasificar</button>
        </form>

        {% if prediction %}
          <h2 class="mt-4">Resultado de la clasificación:</h2>
          <div class="container">
            <div class="card mt-4">
              <img src="data:image/png;base64,{{ prediction }}" class="card-img-top img-fluid rounded mx-auto d-block">
              <div class="card-body text-center">
                <a href="ruta_para_guardar_imagen.jpg" class="btn btn-primary" download>Guardar imagen</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
