{% extends "doc_base.html" %}

{% block title %}Seleccionar modelo para inferencia{% endblock %}

{% block content %}
<div class="container">
  <h2>Modelos</h2>
    <div class="card p-4 shadow">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Uso</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
                {% for modelo in modelos %}
                <tr>
                  <td>{{ modelo['id_modelo'] }}</td>
                  <td>{{ modelo['nombre'] }}</td>
                  <td>{{ modelo['descripcion'] }}</td>
                  <td>
                    {% if modelo['id_uso'] == 1 %}
                        <i class="material-icons" style="background-color: white; color: gray;" title="Clasificación de imágenes">image</i>
                    {% endif %}
                    {% if modelo['id_uso'] == 2 %}
                        <i class="material-icons" style="background-color: white; color: gray;" title="Detección de objetos">search</i>
                    {% endif %}
                  </td>
                  <td>
                      <a href="/realizar_inferencia?id_modelo={{ modelo['id_modelo'] }}" class="btn btn-secondary btn-sm" title="Realizar inferencia">
                          <i class="material-icons">play_arrow</i>
                      </a>
                  </td>
                  <td>
                      <a href="/ver_estructura?id_modelo={{ modelo['id_modelo'] }}" class="btn btn-secondary btn-sm" title="Ver arquitectura">
                          <i class="material-icons">layers</i>
                      </a>
                  </td>
                  <td>
                      <a href="/datos_modelo?id_modelo={{ modelo['id_modelo'] }}" class="btn btn-secondary btn-sm" title="Ver configuración">
                          <i class="material-icons">visibility</i>
                      </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
